body {
    background-color: aqua;
    height: 100vh;
    display: flex;
}

.clients_title{
    display: flex;
    /* min-width: 30vw; */
    max-width: 30vw;
    /* flex: 1; */
    background-color: burlywood;

}
.clients_logos{
    width: 100%;
    max-width: 70vw;
    display: flex;
    flex: 1;
    background-color: chocolate;
    justify-content: center;

}
.swiper-wrapper{
    display: flex;
    justify-content: center;
}