/* START SPHERE */
.sphere-main,
.sphere-main a,
.sphere-main p,
.sphere-front,
.sphere-back,
.cursor {
    cursor: var(--nd-cursor) !important;
    
}
.sphere-main a{
    z-index: 99999;
}
.sphere-main p {
    font-size: 3rem;
    animation: neon 1.8s ease-in-out infinite;
    text-align: center;
    line-height: 150%;
}

.sphere-main img {
    min-width: var(--sp here-in);
    min-height: var(--sphere-in);
    max-width: var(--sphere-in);
    max-height: var(--sphere-in);
}

.sphere-main {
    width: var(--sphere-xy);
    height: var(--sphere-xy);
    border-radius: 50%;
}

.sphere-front,
.sphere-back {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

/* SPHERE END */

.bullets {
    display: flex;
    position: relative;
    height: 76.8rem;
    width: 100vw;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#swiperBulletsClients,
#swiperBulletsMarks,
#swiperBulletsTeams {
    min-height: 76.8rem;
    display: flex;
    align-items: center;
}

.bullets_logos {
    position: relative;
    flex: 1;
    width: auto;
    min-height: 100%;
    max-width: 80%;
    display: flex;
    align-items: center;
}

#swiper-button-prev-bullets {
    content: url(../assets/img/icon-nd-arrow-prev.svg), auto !important;
}

div.bullets-prev,
div.bullets-next {
    display: flex;
    padding: 0 5%;
    height: 100%;
    min-height: 70rem;
}

div.bullets-prev img,
div.bullets-next img {
    width: 2rem;
}

div#swiper-button-prev-bullets,
div#swiper-button-next-bullets {
    color: transparent;
}

div.bullets-next:hover {
    cursor: url(../assets/img/icon-nd-arrow-next.svg), auto !important;
}

div.bullets-prev:hover {
    cursor: url(../assets/img/icon-nd-arrow-prev.svg), auto !important;
}