.design-services {
    position: relative;
    /* height: 100vh; */
    height: 78.6rem;
    width: 100vw;
    background-image: url(../assets/img/bg_Design-Services1200c.svg);
    background-color: var(--cor-bg-2);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    display: flex;
}

.design-services_article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 50%;
    padding: 7rem 6.5rem 8rem 10rem;
    justify-content: center;
}

.design-services_article p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.15rem;
    text-align: justify;
    padding-bottom: 2rem;

}
.design-services_article p span{
    font-weight: bold;
}