.design-services {
    height: 76.8rem;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0;

}

.design-services--in {
    position: relative;
    height: 78.6rem;
    min-height: 100vh;
    width: auto;
    background-image: url(../assets/img/bg_Design-Services1200c.svg);
    background-color: var(--cor-bg-2);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    display: flex;
}

.design-services__article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 50%;
    padding: 7rem 10rem 8rem 10rem;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0.15rem;
}

.design-services__article p {
    text-align: justify;
    padding-bottom: 2rem;
}

.design-services__article p span {
    font-weight: bold;
}

.design-services__article li {
    padding-bottom: .5rem;
}

.design-services__article li::before {
    content: "•";
    color: var(--cor-7);
    display: inline-block;
    width: 2rem;
    margin-left: 1rem;
}