footer {
    display: flex;
    height: auto;
    width: 100vw;
    font-size: 1.8rem;
    background-color: var(--cor-1);
}
.footer_form{
    width: 30%;
    padding: 5rem 4rem;

}

.footer_form_title {
    display: flex;
    padding-bottom: 2rem;
}

.footer_form_title h2 {
    font-size: 9.6rem;
}

.footer_form_title h3 {
    font-size: 5rem;
    margin-left: -1.4rem;
    margin-top: -2.3rem;
}

.footer_info {
    flex: 1;
    width: auto;
    padding: 10rem;
    background-color: var(--cor-2);
}