footer {
    display: flex;
    height: auto;
    width: 100vw;
    font-size: 1.4rem;
    background-color: var(--cor-1);
    position: relative;
    overflow-x: hidden;

}

.footer_form {
    min-width: 30%;
    padding: 5rem 4rem;
    flex-shrink: 0;

}

.footer_form_title {
    display: flex;
    padding-bottom: 2rem;
}

.footer_form_title h2 {
    font-size: 9.6rem;
}

.footer_form_title h3 {
    font-size: 5rem;
    margin-left: -1.4rem;
    margin-top: -2.3rem;
}

.footer_info {
    flex: 1;
    width: auto;
    padding: 10rem;
    background-color: var(--cor-2);
    position: relative;
    background-image: url(../assets/img/img-fuji-sol.svg);
    background-position: 100% 100%;
    background-size: 60%;
    background-repeat: no-repeat;

}

.footer-social {
    display: flex;
    width: auto;
    gap: 1rem;
    padding-bottom: 2.4rem;
}

.footer_info h4 {
    font-weight: bold;
    padding-bottom: .7rem;
}

.footer_info p {
    font-weight: 300;
    padding-bottom: 2rem;
}

.footer_info .logo-animado {
    height: 8rem;
    position: absolute;
    right: 0;
    bottom: calc(50% - 5rem);
    transition: 300ms;
    transform: translate(7rem);
}

.logo-animado:hover {
    transition: 300ms;
    bottom: calc(50% - 5rem);
    transform: translate(0);
}

.roll-top {
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 5rem;
    height: 5rem;
    right: 2.5rem;
    bottom: 2rem;
    z-index: 500;
    border-radius: 1rem;
    opacity: 0.7;

}

.roll-top img {
    width: 4.5rem;
    height: 4.5rem;
    opacity: 0.7;

}

.footer__validador {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 1rem;

}

.footer__validador img {
    border: 0;
    width: 8.8rem;
    height: 3.1rem;
}