footer {
    display: flex;
    height: auto;
    width: 100vw;
    font-size: 1.8rem;
    background-color: var(--cor-1);
}
.footer_form_title,
.footer_info{
    display: flex;
    flex-direction: column;
    
}
.footer_form_title {
    width: 30%;
    padding-bottom: 1rem;
    position: relative;
    padding: 1rem 4rem;

}

.footer_form_title h2 {
    font-size: 9.6rem;
    position: absolute;
}

.footer_form_title h3 {
    font-size: 5rem;
}

.footer_info{
    flex: 1;
    width: auto;
    background-color: var(--cor-2);
}