.forms-container{
    width: 100%;
    border-top: solid 0.2rem var(--cor-bg-t2 );
    padding: 2rem 0;
    align-content: center;
    position: relative;
    
}
.forms-container label .fa-pencil{
    vertical-align: top;
    padding-top: 1rem;
}
.forms-container i {
    font-size: 1.4rem;
}
.forms-container .form-status {
    position: absolute;
    left: 95%;
    top: 3rem;
    visibility: hidden;
}
.forms-container input,
.forms-container textarea{
    background-color: transparent;
    border: none;
    width: 90%;
    color: var(--cor-6);
    padding: .5rem 0 .5rem 1rem;
}
.forms-container input::placeholder,
.forms-container textarea::placeholder{
    color: var(--cor-6);
}
.forms-container input:focus,
.forms-container textarea:focus {
    border: none;
    outline: 0;
}
.forms-container small{
    font-size: 1.4rem;
    position: absolute;
    left: 0;
    bottom: 0.5rem;
    visibility: hidden;
}
.form-button{
    width: 100%;
    text-align: center;
}
.button-1{
    background: none;
    border: 0;
    color: var(--cor-6);
}
.button-1:hover{
    font-weight: bold;
    color: var(--cor-2);
}
.button-1:active{
    font-weight: bold;
    color: var(--cor-3);
}