@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face {
  font-family: "EPMarugo";
  src: url("../assets/fonts/woff/EPMGOBLD-EPMARUGO-Bold-correta.woff") format("woff"), url("../assets/fonts/woff/EPMGOBLD-EPMARUGO-Bold-correta.woff2") format("woff2"), url("../assets/fonts/svg/EPMGOBLD-EPMARUGO-Bold-correta.svg") format("svg"), url("../assets/fonts/otf/EPMGOBLD-EPMARUGO-Bold-correta.otf") format("otf"), url("../assets/fonts/eot/EPMGOBLD-EPMARUGO-Bold-correta.eot") format("eot");
  font-display: swap;
  unicode-range: U+3046, U+3053, U+305D, U+3088, U+4F1A, U+4F5C, U+5370, U+539F, U+54C1, U+5948, U+5BA2, U+5DDD, U+5E02, U+6A21, U+70D9, U+76F8, U+770C, U+793E, U+795E, U+7D50, U+7D61, U+8A08, U+8A2D, U+9023, U+96C6, U+696D, U+52D9;
}
@font-face {
  font-family: "Rodchenko";
  src: url("../assets/fonts/woff/Rodchenko-Constructed-ML.woff") format("woff"), url("../assets/fonts/woff/Rodchenko-Constructed-ML.woff2") format("woff2"), url("../assets/fonts/svg/Rodchenko-Constructed-ML.svg") format("svg"), url("../assets/fonts/otf/Rodchenko-Constructed-ML.otf") format("otf"), url("../assets/fonts/eot/Rodchenko-Constructed-ML.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/woff/MuseoSans100.woff") format("woff"), url("../assets/fonts/woff/MuseoSans100.woff2") format("woff2"), url("../assets/fonts/svg/MuseoSans100.svg") format("svg"), url("../assets/fonts/otf/MuseoSans100.otf") format("otf"), url("../assets/fonts/eot/MuseoSans100.eot") format("eot");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/woff/MuseoSans100_Italic.woff") format("woff"), url("../assets/fonts/woff/MuseoSans100_Italic.woff2") format("woff2"), url("../assets/fonts/svg/MuseoSans100_Italic.svg") format("svg"), url("../assets/fonts/otf/MuseoSans100_Italic.otf") format("otf"), url("../assets/fonts/eot/MuseoSans100_Italic.eot") format("eot");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/woff/MuseoSans300.woff") format("woff"), url("../assets/fonts/woff/MuseoSans300.woff") format("woff2"), url("../assets/fonts/svg/MuseoSans300.svg") format("svg"), url("../assets/fonts/otf/MuseoSans300.otf") format("otf"), url("../assets/fonts/eot/MuseoSans300.eot") format("eot");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/woff/MuseoSans300_Italic.woff") format("woff"), url("../assets/fonts/woff/MuseoSans300_Italic.woff2") format("woff2"), url("../assets/fonts/svg/MuseoSans300_Italic.svg") format("svg"), url("../assets/fonts/otf/MuseoSans300_Italic.otf") format("otf"), url("../assets/fonts/eot/MuseoSans300_Italic.eot") format("eot");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/woff/MuseoSans500.woff") format("woff"), url("../assets/fonts/woff/MuseoSans500.woff") format("woff2"), url("../assets/fonts/svg/MuseoSans500.svg") format("svg"), url("../assets/fonts/otf/MuseoSans500.otf") format("otf"), url("../assets/fonts/eot/MuseoSans500.eot") format("eot");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/woff/MuseoSans500_Italic.woff") format("woff"), url("../assets/fonts/woff/MuseoSans500_Italic.woff2") format("woff2"), url("../assets/fonts/svg/MuseoSans500_Italic.svg") format("svg"), url("../assets/fonts/otf/MuseoSans500_Italic.otf") format("otf"), url("../assets/fonts/eot/MuseoSans500_Italic.eot") format("eot");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/woff/MuseoSans700.woff") format("woff"), url("../assets/fonts/woff/MuseoSans700.woff") format("woff2"), url("../assets/fonts/svg/MuseoSans700.svg") format("svg"), url("../assets/fonts/otf/MuseoSans700.otf") format("otf"), url("../assets/fonts/eot/MuseoSans700.eot") format("eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/woff/MuseoSans700_Italic.woff") format("woff"), url("../assets/fonts/woff/MuseoSans700_Italic.woff2") format("woff2"), url("../assets/fonts/svg/MuseoSans700_Italic.svg") format("svg"), url("../assets/fonts/otf/MuseoSans700_Italic.otf") format("otf"), url("../assets/fonts/eot/MuseoSans700_Italic.eot") format("eot");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/woff/MuseoSans900.woff") format("woff"), url("../assets/fonts/woff/MuseoSans900.woff") format("woff2"), url("../assets/fonts/svg/MuseoSans900.svg") format("svg"), url("../assets/fonts/otf/MuseoSans900.otf") format("otf"), url("../assets/fonts/eot/MuseoSans900.eot") format("eot");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../assets/fonts/woff/MuseoSans900_Italic.woff") format("woff"), url("../assets/fonts/woff/MuseoSans900_Italic.woff2") format("woff2"), url("../assets/fonts/svg/MuseoSans900_Italic.svg") format("svg"), url("../assets/fonts/otf/MuseoSans900_Italic.otf") format("otf"), url("../assets/fonts/eot/MuseoSans900_Italic.eot") format("eot");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
button,
a {
  cursor: url(../assets/img/icon-nd-cursor.svg), auto !important;
}

.is--hidden {
  visibility: hidden;
  font-size: 0.1rem;
}

.no--display {
  display: none;
  color: transparent;
}

body {
  overflow-x: hidden;
  background-color: #000000;
}

.is--space {
  flex: 1;
  width: auto;
}

.is--cor-bg-int {
  background-color: #1A1B1D;
}

.is--cor-bg1 {
  background-color: #000000;
}

.is--cor-bg-cian {
  background-color: #00D4FF;
}

.is--cor-bg-magent {
  background-color: #FF245C;
}

.is--cor-bg-green {
  background-color: #14aa37;
}

.is--cor-cian {
  color: #00D4FF;
}

.is--cor-magent {
  color: #FF245C;
}

.is--cor-green {
  color: #14aa37;
}

.is--cor-black {
  color: #000000;
}

.is--cor-withe {
  color: #FFFFFF;
}

.is--f-p {
  font-family: "MuseoSans", sans-serif !important;
}

.is--f-jp {
  font-family: "EPMArugo", sans-serif !important;
}

.is--f-title {
  font-family: "Rodchenko", sans-serif !important;
}

.hr__bottom--right,
.hr__bottom--left,
.hr__top--right,
.hr__top--left {
  position: absolute;
  border: none;
  width: 51%;
  height: 0.3rem;
  z-index: 10;
}

.hr__bottom--right,
.hr__bottom--left {
  bottom: 2.5rem;
}

.hr__top--right,
.hr__top--left {
  top: 2.5rem;
}

.hr__top--right,
.hr__bottom--right {
  right: 0;
}

.hr__top--left,
.hr__bottom--left {
  left: 0;
}

@-moz-document url-prefix() {
  main {
    background-image: url(../assets/img/bg-Home1920c.jpg);
  }
  .about {
    background-image: url(../assets/img/bg-About1920c.jpg);
  }
  .portifolio {
    background-image: url(../assets/img/bg-Clients1920c.webp);
  }
  .marks {
    background-image: url(../assets/img/bg-Marks1920c.jpg);
  }
  .teams {
    background-image: url(../assets/img/bg-Teams1920c.jpg);
  }
}
::-webkit-scrollbar {
  /* largura da barra de rolagem */
  width: 0.5rem !important;
  background-color: cor-1 !important;
}

::-webkit-scrollbar-track {
  /* cor de fundo da área da barra de rolagem */
  background: cor-bg-1-in !important;
  /* distância do topo da barra */
  margin: 3rem 0 !important;
}

::-webkit-scrollbar-thumb {
  /* cor da alça da barra de rolagem */
  background: cor-2 !important;
  /* borda arredondada */
  border-radius: 0.8rem !important;
}

::-webkit-scrollbar-thumb:hover {
  /* cor da alça da barra de rolagem ao passar o mouse */
  background: cor-3 !important;
}

.titles--top, .titles--bottom {
  display: flex;
  min-width: 25rem;
  height: 100%;
  justify-content: flex-end;
  position: relative;
}
.titles--top h2, .titles--bottom h2 {
  font-size: 9.6rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.titles--top h3, .titles--bottom h3 {
  font-size: 5rem;
  position: absolute;
}
.titles--top {
  padding-right: 5rem;
  padding-top: 10rem;
  align-items: flex-start;
}
.titles--top h3 {
  top: 8.7rem;
  margin-right: -1.95rem;
}
.titles--bottom {
  padding-right: 5rem;
  padding-bottom: 10rem;
}
.titles--bottom h3 {
  margin-right: -2.3rem;
}
.titles--center {
  display: flex;
  align-items: end;
}
.titles--center h2 {
  font-size: 16rem;
}
.titles--center h3 {
  font-size: 5rem;
  margin-bottom: 5rem;
  margin-left: -3.3rem;
}

#designs h3 {
  bottom: 27rem;
}

#services h3 {
  bottom: 38rem;
}

/* Animations Start */
.is--neon {
  animation: neon 2s ease-in-out infinite;
}

.is--appear4 {
  visibility: hidden;
  opacity: 0;
  animation: appear 1s ease-in forwards;
}

/* Animations End */
/* Animations FlipY Start */
.is--flip-m {
  position: relative;
}
.is--flip-m:hover .is--flip-c {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.is--flip-c {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.is--flip-f,
.is--flip-b {
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.is--flip-b {
  transform: rotateY(180deg);
}

/* Animations End */
/* Animations Keyframs Start */
@keyframes neon {
  0% {
    filter: blur(0) brightness(100%) contrast(100%) hue-rotate(0deg) saturate(100%) sepia(0%);
  }
  10% {
    filter: blur(2px) brightness(70%) contrast(120%) hue-rotate(10deg) saturate(150%) sepia(10%);
  }
  20% {
    filter: blur(0) brightness(100%) contrast(100%) hue-rotate(-10deg) saturate(150%) sepia(5%);
  }
  30% {
    filter: blur(2px) brightness(70%) contrast(120%) hue-rotate(10deg) saturate(150%) sepia(10%);
  }
  40% {
    filter: blur(0) brightness(100%) contrast(100%) hue-rotate(-10deg) saturate(150%) sepia(5%);
  }
  100% {
    filter: blur(0) brightness(100%) contrast(100%) hue-rotate(0deg) saturate(100%) sepia(0%);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0.7;
  }
  100% {
    visibility: visible;
    opacity: 0.7;
  }
}
/* Animations Keyframs End */
/* animação deslizar */
.animate-slide {
  animation: deslizar 0.5s ease-out forwards;
}

@keyframes deslizar {
  to {
    transform: translate(0, 0);
  }
}
/* animação deslizar */
main {
  height: 76.8rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8rem 3.5vw 3rem 3.5vw;
  position: relative;
  background-image: url(../assets/img/bg-Home1920c.webp);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1000;
}
main h1 {
  width: 70rem;
}
main h1 img {
  width: 100%;
}
main h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 150%;
}
main .background-video {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100%;
  width: 100%;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.home h3 {
  font-size: 4rem;
}
.home__left {
  max-width: 5rem;
}
.home__central {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 3rem;
}
.home__right {
  display: flex;
  flex-direction: column;
  min-width: 5rem;
  gap: 2rem;
  align-items: flex-end;
}
.home__right img {
  width: 3rem;
}
.home__base {
  display: flex;
  justify-content: flex-start;
}
.home__base h4 {
  padding-left: 10rem;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  min-height: 5rem;
  max-height: 5rem;
  width: 100%;
  margin-top: -5rem;
}
.nav a img {
  display: none;
}
.nav__fixed--top {
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  display: flex;
  height: 8rem;
  justify-content: space-between;
  left: 0;
  top: 0;
  padding: 0 5.75rem;
  position: fixed;
  width: 100vw;
}
.nav > a > img {
  height: 5rem;
}

.nav__ul {
  display: flex;
  gap: 1rem;
}
.nav__ul a {
  color: #00D4FF;
}
.nav__ul a:hover {
  color: #FF245C;
}
.nav__ul a:active {
  color: #14aa37;
}

.banner {
  position: relative;
  width: 100vw;
  height: auto;
  z-index: 0;
}
.banner h5 {
  position: absolute;
  bottom: 5rem;
  left: 15rem;
  font-size: 1.8rem;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 2rem 2rem 0;
  padding: 2rem 2rem 2rem 16rem;
  margin-left: -16rem;
  transform: translate(-100%);
  transition: 400ms;
  border: 0.2rem solid;
  border-color: #8C008C;
}
.banner img {
  width: 100vw;
  margin-bottom: -0.2rem;
}

section.bullets .swiper-pagination-bullet,
section.banner .swiper-pagination-bullet,
section.design-services .swiper-pagination-bullet {
  border-radius: 0;
  background-color: #14aa37;
  opacity: 0.6;
  width: 1rem;
  height: 1rem;
}

/* cor da paginação do bullet */
section.design-services .swiper-pagination-bullet,
section.bullets .swiper-pagination-bullet {
  background-color: #00D4FF;
}

#design-services .swiper-pagination-bullet {
  background-color: #000000;
}

/* cor da paginação do bullet */
/* cor da paginação do bullet */
section.bullets .swiper-pagination-bullet-active,
section.banner .swiper-pagination-bullet-active,
section.design-services .swiper-pagination-bullet-active {
  opacity: 1;
}

div#swiper-button-next-designer-services,
div#swiper-button-prev-designer-services,
div#swiper-button-next-clients,
div#swiper-button-prev-clients,
div#swiper-button-next-marks,
div#swiper-button-prev-marks {
  position: absolute;
  top: 2.5rem;
  width: 15%;
  height: 100%;
  color: transparent;
}

div#swiper-button-next-designer-services:hover,
div#swiper-button-next-marks:hover,
div#swiper-button-next-clients:hover {
  cursor: url(../assets/img/icon-nd-arrow-next.svg), auto !important;
}

div#swiper-button-prev-designer-services:hover,
div#swiper-button-prev-marks:hover,
div#swiper-button-prev-clients:hover {
  cursor: url(../assets/img/icon-nd-arrow-prev.svg), auto !important;
}

.swiper-slide > img {
  cursor: grab;
}

/* START SPHERE */
.cursor,
.sphere-main,
.sphere-main a,
.sphere-main a img,
.sphere-main p,
.sphere-front,
.sphere-back,
.swiper-pagination-bullet {
  cursor: url(../assets/img/icon-nd-cursor.svg), auto !important;
}

.sphere-main {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
}
.sphere-main a {
  z-index: 99999;
}
.sphere-main p {
  font-size: 3rem;
  animation: is--neon 1.8s ease-in-out infinite;
  text-align: center;
  line-height: 150%;
}
.sphere-main img {
  min-width: 20rem;
  min-height: 20rem;
  max-width: 20rem;
  max-height: 20rem;
}

.sphere-front,
.sphere-back {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* SPHERE END */
.bullets {
  display: flex;
  position: relative;
  height: 76.8rem;
  width: 100vw;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#swiperBulletsClients,
#swiperBulletsMarks,
#swiperBulletsTeams {
  min-height: 76.8rem;
  display: flex;
  align-items: center;
}

.bullets_logos {
  position: relative;
  flex: 1;
  width: auto;
  min-height: 100%;
  max-width: 80%;
  display: flex;
  align-items: center;
}

#swiper-button-prev-bullets {
  content: url(../assets/img/icon-nd-arrow-prev.svg), auto !important;
}

div.bullets-prev,
div.bullets-next {
  display: flex;
  padding: 0 5%;
  height: 100%;
  min-height: 70rem;
}
div.bullets-prev img,
div.bullets-next img {
  width: 2rem;
}

div#swiper-button-prev-bullets,
div#swiper-button-next-bullets {
  color: transparent;
}

div.bullets-next:hover {
  cursor: url(../assets/img/icon-nd-arrow-next.svg), auto !important;
}

div.bullets-prev:hover {
  cursor: url(../assets/img/icon-nd-arrow-prev.svg), auto !important;
}

.about {
  display: flex;
  position: relative;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  padding: 7rem 15rem;
  background-image: url(../assets/img/bg-About1920c.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.about p {
  color: #FFFFFF;
  font-family: "MuseoSans", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.15rem;
  text-align: justify;
  padding-bottom: 1.8rem;
}
.about p span {
  font-weight: bold;
}
.about__title {
  justify-content: center;
  text-align: center;
  display: flex;
  padding-left: 7.5rem;
  height: 100%;
  padding-top: 2rem;
}
.about__title h2 {
  font-size: 15rem;
  letter-spacing: 2rem;
  z-index: 1;
  line-height: 1.3;
}
.about__title h3 {
  font-size: 5.5rem;
  margin-right: -2.2rem;
  z-index: 2;
}
.about__article {
  padding-right: 7.5rem;
  align-content: center;
}
.about__article, .about__title {
  width: 50%;
  height: 100%;
}

.design-services {
  height: 76.8rem;
  /* min-height: 100vh; */
  width: 100vw;
  position: relative;
  z-index: 0;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.design-services--in {
  position: relative;
  height: 78.6rem;
  /* min-height: 100vh; */
  width: auto;
  background-image: url(../assets/img/bg_Design-Services1200c.svg);
  background-color: var(--cor-bg-2);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  display: flex;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.design-services__article {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 50%;
  padding: 7rem 10rem 8rem 10rem;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0.15rem;
}
.design-services__article p {
  text-align: justify;
  padding-bottom: 2rem;
}
.design-services__article p span {
  font-weight: bold;
}
.design-services__article li {
  padding-bottom: 0.5rem;
}
.design-services__article li::before {
  content: "•";
  color: var(--cor-7);
  display: inline-block;
  width: 2rem;
  margin-left: 1rem;
}

footer {
  display: flex;
  height: auto;
  width: 100vw;
  font-size: 1.4rem;
  background-color: #00D4FF;
  position: relative;
  overflow-x: hidden;
}

.footer_form {
  min-width: 30%;
  padding: 5rem 4rem;
  flex-shrink: 0;
}
.footer_form_title {
  display: flex;
  padding-bottom: 2rem;
}
.footer_form_title h2 {
  font-size: 9.6rem;
}
.footer_form_title h3 {
  font-size: 5rem;
  margin-left: -1.4rem;
  margin-top: -2.3rem;
}

.footer_info {
  flex: 1;
  width: auto;
  padding: 10rem;
  background-color: #FF245C;
  position: relative;
  background-image: url(../assets/img/img-fuji-sol.svg);
  background-position: 100% 100%;
  background-size: 60%;
  background-repeat: no-repeat;
}
.footer_info h4 {
  font-weight: bold;
  padding-bottom: 0.7rem;
}
.footer_info p,
.footer_info address {
  font-weight: 300;
  padding-bottom: 2rem;
}
.footer_info .logo-animado {
  height: 8rem;
  position: absolute;
  right: 0;
  bottom: calc(50% - 5rem);
  transition: 300ms;
  transform: translate(7rem);
}
.footer_info .logo-animado:hover {
  transition: 300ms;
  bottom: calc(50% - 5rem);
  transform: translate(0);
}

.footer-social {
  display: flex;
  gap: 1rem;
  padding-bottom: 2.4rem;
  max-width: 100vw;
}
.footer-social img {
  width: 6rem;
}

.roll-top {
  position: fixed;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 5rem;
  height: 5rem;
  right: 2.5rem;
  bottom: 2rem;
  z-index: 500;
  border-radius: 1rem;
  opacity: 0.7;
}
.roll-top img {
  width: 4.5rem;
  height: 4.5rem;
  opacity: 0.7;
}

.footer__validador {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 1rem;
}
.footer__validador img {
  border: 0;
  width: 8.8rem;
  height: 3.1rem;
}

.forms__container {
  width: 100%;
  border-top: solid 0.2rem rgba(255, 255, 255, 0.5);
  padding: 2rem 0;
  align-content: center;
  position: relative;
}
.forms__container small {
  font-size: 1rem;
  position: absolute;
  left: 0;
  bottom: 0.5rem;
  visibility: hidden;
  /* margin-top: 1.5rem; */
}
.forms__container label .fa-pencil {
  vertical-align: top;
  padding-top: 1rem;
}
.forms__container i {
  font-size: 1.4rem;
}
.forms__container input,
.forms__container textarea {
  background-color: transparent;
  border: none;
  width: 90%;
  color: #FFFFFF;
  padding: 0.5rem 0 0.5rem 1rem;
}
.forms__container input ::-moz-placeholder, .forms__container textarea ::-moz-placeholder {
  color: #FFFFFF;
}
.forms__container input ::placeholder,
.forms__container textarea ::placeholder {
  color: #FFFFFF;
}
.forms__container input :focus,
.forms__container textarea :focus {
  border: none;
  outline: 0;
}

.forms__status {
  position: absolute;
  left: 95%;
  top: 3rem;
  visibility: hidden;
}

.form__button {
  width: 100%;
  text-align: center;
}

.is--button-1 {
  background: none;
  width: 100%;
  border: 0;
  color: #FFFFFF;
}
.is--button-1 :hover {
  font-weight: bold;
  color: #FF245C;
}
.is--button-1 :active {
  font-weight: bold;
  color: #14aa37;
}

/* error and success */
/* .form__error, */
.form__error i,
.form__error > small {
  color: #FF245C;
}

.form__success i {
  color: #14aa37;
}

.form__success i.fa-check-circle,
.form__error i.fa-exclamation-circle,
.form__error > small {
  visibility: visible;
}

#send__process.form__success {
  visibility: hidden;
}

#send__process.form__success--send {
  visibility: visible;
  color: #14aa37;
}

/* medias Início*/
.is--800px {
  display: none;
}

@media (min-width: 2880px) {
  :root {
    font-size: 125% !important;
  }
}
@media (max-width: 1400px) {
  :root {
    font-size: 60% !important;
  }
}
@media (max-width: 1200px) {
  :root {
    font-size: 50% !important;
  }
}
@media (max-width: 900px) {
  :root {
    font-size: 40% !important;
  }
}
@media (max-width: 800px) {
  :root {
    font-size: 30% !important;
  }
}
@media (max-width: 600px) {
  :root {
    font-size: 25% !important;
  }
  .design-services--in,
  .design-services {
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
  }
}
@media (max-width: 545px) {
  :root {
    font-size: 22% !important;
  }
  .design-services--in,
  .design-services {
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
  }
}
@media (max-width: 480px) {
  :root {
    font-size: 20% !important;
  }
  .design-services--in,
  .design-services {
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
  }
}
@media (max-width: 420px) {
  :root {
    font-size: 18% !important;
  }
  .about {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 5rem;
    min-height: 65vh !important;
  }
  .about__article,
  .about__title {
    width: 80%;
  }
  .about__title {
    margin-right: 10.5rem !important;
  }
  .design-services--in,
  .design-services {
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
  }
  .portifolio {
    min-height: 65vh !important;
  }
}
/* xxxxxxxxxx Término*/
/* xxxxxxxxxx Início*/
/* xxxxxxxxxx Término*/
.marks {
  background-image: url(../assets/img/bg-Marks1920c.webp);
  background-color: var(--cor-bg-t5w);
  background-position: center;
}

#banner__marks .background-video {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  width: 100%;
}
#banner__marks h5,
#banner__marks a {
  z-index: 2;
}
#banner__marks .marks_logos p {
  text-transform: uppercase;
}

.portifolio {
  align-items: center;
  background-image: url(../assets/img/bg-Clients1920c.webp);
  background-color: var(--cor-bg-t5);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 400;
  height: 7.68rem;
  min-height: 100vh;
  letter-spacing: 0.15rem;
  position: relative;
  width: 100vw;
  z-index: 0;
}
.portifolio p {
  padding-top: 2rem;
  font-size: 2.5rem;
}
.portifolio a {
  text-align: center;
}
.portifolio__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.teams {
  background-image: url(../assets/img/bg-Teams1920c.webp);
  background-color: var(--cor-bg-t5w);
  /* background-position: center; */
}
.teams p {
  text-transform: uppercase;
  font-size: 2rem !important;
}/*# sourceMappingURL=index.css.map */