main {
    height: 76.8rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 8rem 3.5vw 3rem 3.5vw;
    position: relative;
    background-image: url(../assets/img/bg-Home1920c.webp);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
}

main h1 {
    width: 70rem;
}

main h1 img {
    width: 100%;
}

main h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 150%;
}

.background-video {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
    min-height: 100%;
    width: 100%;

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.home h3 {
    font-size: 4rem;
}

.home__left {
    max-width: 5rem;
}

.home__central {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 3rem;

}

.home__right {
    display: flex;
    flex-direction: column;
    min-width: 5rem;
    gap: 2rem;
    align-items: flex-end;

}

.home__right img {
    width: 3rem;
}

.home__base {
    display: flex;
    justify-content: flex-start;
}

.home__base h5 {
    padding-left: 10rem;
}

/* @media (min-width: 2880px) {
    main {
        padding: 16rem 10rem 6rem 10rem;

    }

    main h1 {
        width: 50vw;
    }

    main h2 {
        font-size: 1.5vw;
    }
    .home h3 {
        font-size: 2.8vw;
    }
    .home__central{
        gap: 2.1vw;
    }
    .home__right {
        gap: 1.5vw;
    }
    .home__right img {
        width: 2.1vw;
    }
    .home__base h5 {
        padding-left: 7vw;
    }
} */