.nav {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    min-height: 5rem;
    max-height: 5rem;
    width: 100%;
    margin-top: -5rem;

    &>a {
        display: none;
    }
}
.nav_fixed-top {
    background-color: var(--cor-bg-t8);
    align-items: center;
    display: flex;
    height: 8rem;
    justify-content: space-between;
    left: 0;
    top: 0;
    padding: 0 5.5rem;
    position: fixed;
    width: 100vw;
    & > a > img{
        height: 5rem;
    }
}

.nav_ul {
    display: flex;
    gap: 1rem;

    /* font-size: 2rem; */
    & a {
        color: var(--cor-1);

        &:hover {
            color: var(--cor-2);
        }

        &:active {
            color: var(--cor-3);
        }
    }
}

