.nav {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    min-height: 5rem;
    max-height: 5rem;
    width: 100%;
    margin-top: -5rem;
}

.nav a img {
    display: none;
}

.nav__fixed--top {
    background-color: var(--cor-bg-t8);
    align-items: center;
    display: flex;
    height: 8rem;
    justify-content: space-between;
    left: 0;
    top: 0;
    padding: 0 5.75rem;
    position: fixed;
    width: 100vw;
}

.nav__fixed--top > a > img {
    height: 5rem;
}

.nav__ul {
    display: flex;
    gap: 1rem;
}

.nav__ul a {
    color: var(--cor-1);
}

.nav__ul a:hover {
    color: var(--cor-2);
}

.nav__ul a:active {
    color: var(--cor-3);
}