.titles--top,
.titles--bottom {
    display: flex;
    min-width: 25rem;
    height: 100%;
    justify-content: flex-end;
    position: relative;
}

.titles--top {
    padding-right: 5rem;
    padding-top: 10rem;
    align-items: flex-start;
}

.titles--bottom {
    padding-right: 5rem;
    padding-bottom: 10rem;
}

.titles--top h2,
.titles--bottom h2 {
    font-size: 9.6rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);

}

.titles--top h3,
.titles--bottom h3 {
    font-size: 5rem;
    position: absolute;
}

.titles--top h3 {
    top: 8.7rem;
    margin-right: -1.95rem;
}

.titles--bottom h3 {
    margin-right: -2.3rem;
}

#designs h3{
    bottom: 27rem;
}
#services h3{
    bottom: 38rem;
}

/* necessário display flex no container pai */
.titles--center{
    display: flex;
    align-items: end;
}
.titles--center h2{
    font-size: 16rem;

}
.titles--center h3 {
    font-size: 5rem;
    margin-bottom: 5rem;
    margin-left: -3.3rem;
}